<!DOCTYPE html>
<!--https://www.w3schools.com/html/default.asp-->
<!--https://www.w3schools.com/css/default.asp-->
{% load static %}
<html>

    <head>
        <title>Jukebox</title>
        <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">
        <link rel="icon" href="pusayPinkFace.png"> <!--icon for the tab-->
        <div id="app">
            <ul>
              <li v-for="item in array">{{ item }}</li>
            </ul>
          </div>
          
          <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
          <script>
            var app = new Vue({
              el: '#app',
              data: {
                array: [],
              },
              mounted() {
                this.fetchArray();
                this.timer = setInterval(this.fetchArray, 2000); // Poll every 2 seconds
              },
              methods: {
                async fetchArray() {
                  try {
                    const response = await fetch('/api/get_array/');
                    if (!response.ok) {
                      throw new Error('Network response was not ok');
                    }
                    this.array = await response.json();
                  } catch (error) {
                    console.error('There has been a problem with your fetch operation:', error);
                  }
                },
              },
              beforeDestroy() {
                clearInterval(this.timer);
              },
            });
          </script>
          
    </head>
    <body>
        <div class="background-container">
            <div class="header">
                <h1>CSH Jukebox</h1>
            </div>

            <div class="container">
                <div class="section">
                    <script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
                    <iframe 
                        style="border-radius:12px"
                        src="https://open.spotify.com/embed/track/2MSgFefjK0T7Iwjvr3OKqV?utm_source=generator"
                        width="33%"
                        height="352"
                        frameBorder="0"
                        allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy">
                </iframe>
                </div>

                <div class="section">
                    <!--contains pusay-->
                    <img src = "PusayWholePink.png"> <!--big pusay in center-->
                </div>

                <div class="section">
                    <h2>Upcoming Songs</h2>
                    <!--Dynamically update list with names of songs from array and show those changes in HTML-->
                    <ul id="song-list">
                    {% for song in song_queue %}
                    <li>{{ song }}</li>
                    {% endfor %}
                    </ul>
                </div>
            
            </div>
        </div>
    </body>
</html>