<!DOCTYPE html>
<!--https://www.w3schools.com/html/default.asp-->
<!--https://www.w3schools.com/css/default.asp-->
{% load static %}
<html>

    <head>
        <title>Jukebox</title>
        <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">
        <link rel="icon" href="pusayPinkFace.png">
    </head>
    <body> 
        <div class="header">
            <h1>CSH Jukebox</h1>
        </div>

        <div class="container">
            <div class="section">
                <!--Replace the following values with the values from the current song-->
                <img src="https://via.placeholder.com/300x300.png?text=Placeholder" alt="Placeholder" width="300" height="300">
                <b>SONG TITLE</b>
                <p>ARTIST NAME</p>
            </div>

            <div class="section">
                <!--contains pusay-->
                <!--<img src = "pusayjukebox.jpg">-->
                <img src="https://via.placeholder.com/300x300.png?text=Placeholder" alt="Placeholder" width="300" height="300">
                <!--placeholder for pusay-->
            </div>

            <div class="section">
                <h2>Upcoming Songs</h2>
                <!--Dynamically update list with names of songs from array and show those changes in HTML-->
                <ul id="song-list">
                {% for song in song_queue %}
                  <li>{{ song }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>