<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CatJam</title>
    <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="header">
        <h1>CatJam</h1>
    </div>
    <div class="search">
        <input type="text" id="searchbar" name="song" placeholder="Search for a song here:" onkeyup="printText(this)">
        <script>
            window.onload = function() {
                document.getElementById('searchbar').value = ""
            };
            function printText(input) {
                if (event.keyCode === 13) {  // 13 is the key code for the Enter key
                    event.preventDefault();  // prevent form submission
                    var searchText = input.value;  // get the text from the search bar
                    fetch('/search_for_tracks/?track_name=' + searchText)
                        .then(response => response.json())
                        .then(data => {
                            var dropdown = document.getElementById('dropdown');
                            dropdown.innerHTML = '';  // clear the previous results

                            for(var i = 0; i < data.result.length; i++) {
                                var track = data.result[i];

                                // Create a new div for the track
                                var item = document.createElement('div');
                                item.className = 'item';
                                item.style.display = 'flex';
                                item.style.justifyContent = 'space-between';  // new line
                                item.onclick = (function(track) {
                                    return function() {
                                        console.log('clicked');
                                        var selectedItem = document.getElementById('selected-item');
                                        var displayStyle = window.getComputedStyle(selectedItem).display;
                                        if(displayStyle == 'none'){
                                            selectedItem.style.display = 'block';
                                        }
                                        selectedItem.style.display = 'flex';
                                        selectedItem.justifyContent = 'space-between';
                                        var sImg = document.getElementById('selected-img');
                                        var sTrackName = document.getElementById('selected-track-name');
                                        var sArtistName = document.getElementById('selected-artist-name');
                                        var sTrackLength = document.getElementById('selected-track-length');
                                        sImg.src = track.cover_url;
                                        sTrackName.textContent = track.track_name;
                                        sArtistName.textContent = track.artist_name;
                                        sTrackLength.textContent = track.track_length;
                                        var addButton = document.getElementById('add-button');
                                        var btnDisplayStyle = window.getComputedStyle(addButton).display;
                                        if(btnDisplayStyle == 'none'){
                                            addButton.style.display = 'block';
                                        }
                                    };
                                })(track);
                                var imgTextWrapper = document.createElement('div');
                                imgTextWrapper.style.display = 'flex';
                                var img = document.createElement('img');
                                img.src = track.cover_url;
                                imgTextWrapper.appendChild(img);
                                var textWrapper = document.createElement('div');
                                textWrapper.style.display = 'flex';
                                textWrapper.style.flexDirection = 'column';
                                var trackName = document.createElement('div');
                                trackName.textContent = track.track_name;
                                textWrapper.appendChild(trackName);
                                item.appendChild(textWrapper);
                                var artistName = document.createElement('div');
                                artistName.textContent = track.artist_name;
                                textWrapper.appendChild(artistName);
                                imgTextWrapper.appendChild(textWrapper);
                                item.appendChild(imgTextWrapper);
                                var trackLength = document.createElement('div');
                                trackLength.textContent = track.track_length;
                                item.appendChild(trackLength);
                                dropdown.appendChild(item);
                            }
                            dropdown.style.display = 'block';
                        })
                        .catch(error => console.error('Error:', error));
                                }
                            }
            
        </script>
    </div>
    <div id="dropdown" aria-labelledby="searchbar"></div>
    <div class="selected" aria-labelledby="searchbar">
        <div id="info-text">Selected Song:</div>
        <div id="selected-song">
            <div id="selected-item">
                <div id="selected-imgtext">
                    <img id="selected-img">
                    <div id="selected-text">
                        <div id="selected-track-name"></div>
                        <div id="selected-artist-name"></div>
                    </div>
                </div>
                <div id="selected-track-length"></div>
            </div>
    </div>
    <button id="add-button" onclick="submitSong()">Add to Queue</button>
    <script>
        function submitSong() {
            console.log('submitting song');
        }
    </script>

</body>
</html>