{% load static %}
<!DOCTYPE html>
<!--https://www.w3schools.com/html/default.asp-->
<!--https://www.w3schools.com/css/default.asp-->

<html>

    <head>
        <title>CatJam Admeow</title>
        <script>
            var frame1 = "/static/img/frame1.png";
            var frame2 = "/static/img/frame2.png";
        </script>
        <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" referrerpolicy="no-referrer"></script>
        <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
        </head>
    <body>
        <div class="container">
            <header>
                <img id="hamburger-icon" src="{% static "img/hamburger_icon.png" %}" width="75" height="75">
            </header>
           
            <div class="container">
                <div class="section">
                    <div class="song">
                        <iframe id="spotify-player" src="https://open.spotify.com/embed/track/{track_id}" width="0" height="0" frameborder="0" allowtransparency="true" allow="encrypted-media; autoplay" style="display: none;"></iframe>
                        <script>
                            let EmbedController
                            window.onSpotifyIframeApiReady = (IFrameAPI) => {
                                let element = document.getElementById('spotify-player');
                                let options = {
                                    width: 350,
                                    height: 100,
                                    uri: null,
                                  };
                                let callback = (controller) => {
                                    EmbedController = controller;
                                };
                                IFrameAPI.createController(element, options, callback);
                                EmbedController.addListener('playback_update', e => {
                                    fetch('/seconds_to_minutes/', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            'seconds': parseInt(e.data.position / 1000, 10),
                                        })
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        document.getElementById('progressTimestamp').innerText = data['result'];
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                                    });
                                    if(e.data.position == e.data.duration && e.data.duration != 0) {  
                                        isPlaying = false;
                                        removeFirstSong().then(() => {
                                            doneSong();
                                        });
                                    }
                                    console.log(e.data.position);
                                    
                                    document.getElementById('progressBar').value = e.data.position / e.data.duration * 100;
                                });
                              };
                            

                        </script>
                        <script type="text/javascript">
                            function resetDisplay(){
                                document.getElementById("album-cover").src="{% static 'img/song_placeholder.png' %}";
                                document.getElementById("song_title").innerHTML = "Song Title";
                                document.getElementById("artist_name").innerHTML = "Artist Name";
                            }
                        </script>

                        <div id="flexbox-top">
                            <h1>CatJam<br>Player</h1>
                            <img id="catjam" src="{% static "img/frame1.png" %}" width="250" height="250">
                        </div>

                        <div id="flexbox-middle">
                            <div id="flexbox-middle-right">
                                <h2>Song Info</h2>
                                <img id="album-cover" src="{% static "img/song_placeholder.png" %}" width="250" height="250">
                                <div id="song_title">Song Title</div>
                            </div>
                            <div id="flexbox-middle-left">
                                <h2>Current Song</h2>
                                <img id="album-cover" src="{% static "img/song_placeholder.png" %}" width="250" height="250">
                                <div id="artist_name">Artist Name</div>
                            </div>
                        </div>

                        <div id="progress">
                            <div id="progressTimestamp" class="timeText">0:00</div>
                            <progress id="progressBar" value="0" max="100"></progress>
                            <div id="duration" class="timeText">0:00</div>
                        </div>

                        <section class="admin">
                            <button id="clearQueue" class="clear-queue-button" onclick="clearQueue()">Clear Queue</button>
                            <button id="pausePlayBtn" class="pause-play-button" onclick="pausePlay()">Pause</button>
                            <button id="playQueue" class="play-queue-button" onclick="startPlay()">Play Queue</button>                            
                        </section>
                    </div>
                    
                </div>
                <div class="section">
                    
                </div>
            </div>
        </div>
    </body>
    <footer>
        <h2 id="queue-header">Upcoming Songs</h2>
        <div id="flexbox-bottom">
            <img id="catjam" src="{% static "img/frame1.png" %}" width="75" height="75">
            <img id="catjam" src="{% static "img/frame2.png" %}" width="75" height="75">
            <img id="catjam" src="{% static "img/frame1.png" %}" width="75" height="75">
            <img id="catjam" src="{% static "img/frame2.png" %}" width="75" height="75">
            <img id="catjam" src="{% static "img/frame1.png" %}" width="75" height="75">
            <img id="catjam" src="{% static "img/frame2.png" %}" width="75" height="75">
            <img id="catjam" src="{% static "img/frame1.png" %}" width="75" height="75">
            <img id="catjam" src="{% static "img/frame2.png" %}" width="75" height="75">
            <img id="catjam" src="{% static "img/frame1.png" %}" width="75" height="75">
            <img id="catjam" src="{% static "img/frame2.png" %}" width="75" height="75">
        </div>
            <!--Dynamically update list with names of songs from array and show those changes in HTML-->
        <ul id="song-list"></ul>
    </footer>
</html>