{% load static %}
<!DOCTYPE html>
<!--https://www.w3schools.com/html/default.asp-->
<!--https://www.w3schools.com/css/default.asp-->

<html>

    <head>
        <title>CatJam Admin</title>
        <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" referrerpolicy="no-referrer"></script>
        <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
        </head>
    <body>
        <div class="container">
            <header>
                <h1>CatJam Player</h1>
                <button id="clearQueue" class="clear-queue-button" onclick="clearQueue()">Clear Queue</button>
            </header>
           <div id="progressBar">
                <div id="progressTimestamp">0 s</div>
                <div id="progressBarInner"></div>
            </div>
            <div class="container">
                <div class="section">
                    <div class="song">
                        <iframe id="spotify-player" src="https://open.spotify.com/embed/track/{track_id}" width="0" height="0" frameborder="0" allowtransparency="true" allow="encrypted-media; autoplay" style="display: none;"></iframe>
                        <script>
                            let EmbedController
                            window.onSpotifyIframeApiReady = (IFrameAPI) => {
                                let element = document.getElementById('spotify-player');
                                let options = {
                                    width: 0,
                                    height: 0,
                                    uri: null,
                                  };
                                let callback = (controller) => {
                                    EmbedController = controller;
                                };
                                IFrameAPI.createController(element, options, callback);
                                EmbedController.addListener('playback_update', e => {
                                    document.getElementById('progressTimestamp').innerText = `${parseInt(e.data.position / 1000, 10)} s`;
                                    if(e.data.position == e.data.duration) {
                                        console.log("Song ended");
                                    }
                                    console.log(e.data.position);
                                });
                              };
                            

                        </script>
                        <img id="album-cover" src="{% static "img/song_placeholder.png" %}" width="250" height="250">
                        <div id="song_title">Song Title</div>
                        <div id="artist_name">Artist Name</div>
                    </div>
                    
                </div>
                <div class="section">
                    <h2>Upcoming Songs</h2>
                    <!--Dynamically update list with names of songs from array and show those changes in HTML-->
                    <ul id="song-list">
                    </ul>
                </div>
            
            </div>
        </div>
    </body>
</html>