<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>CatJam</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div style="display: flex; align-items: center;">
        <h1>CatJam</h1> <!-- Assuming this is your header -->
        <button class="sidebarbtn" onclick="sidebar_open()" onkeydown="errorGone()">☰</button>
    </div>
    <div class="queue-header">
        <h2>Queue</h2>
    </div>
    <!-- Sidebar -->
    <div class="sidebar" style="display:none" id="mySidebar">
        <button onclick="sidebar_close()" class="w3-bar-item w3-large">Close &times;</button>
        <form id="loginForm">
            <input type="text" id="username" class="barInput" placeholder="Username">
            <input type="password" id="password" class="barInput" placeholder="Password">
            <button type="submit" class="w3-bar-item w3-button">Login</button>
            <div class="error" id="error">Invalid username or password.</div>
        </form>
    </div>
    <div class="queue">
        <div id="queuelist"></div>
    </div>
    <div class="search">
        <input type="text" id="searchbar" name="song" placeholder="Search for a song here (Press enter to search):" onkeyup="printText(this)">
    </div>
    <div id="dropdown" aria-labelledby="searchbar"></div>
    <div class="selected" aria-labelledby="searchbar">
        <div id="info-text"></div>
        <div id="selected-song">
            <div id="selected-item">
                <div id="selected-imgtext">
                    <img id="selected-img">
                    <div id="selected-text">
                        <div id="selected-track-name"></div>
                        <div id="selected-artist-name"></div>
                    </div>
                </div>
                <div id="selected-track-length"></div>
            </div>
        </div>
        <button id="add-button" onclick="submitSong()">Add to Queue</button>
    </div>
    <div id="resulttext"></div>
</body>

</html>