html {
    font-family: 'Akshar Unicode', sans-serif;
}

body { 
    background-color: #40000E;
}

.leftSection {
    width: 33%;
    height: 100%;
    margin: center;
}

.middleSection { 
    width: 33%;
    height: 100%;
    margin: center;
}

.rightSection {
    width: 33%;
    height: 100%;
    margin: center;
}