html {
    font-family: 'Akshar Unicode', sans-serif;
}
body { 
    background-color: #232323;
}
b {
    color: #EEEEEE;
}
p {
    color: #BBBBBB;
}
.leftSection {
    width: 33%;
    height: 100%;
    margin: center;
}

.middleSection { 
    width: 33%;
    height: 100%;
    margin: center;
}

.rightSection {
    width: 33%;
    height: 100%;
    margin: center;
}

#songName { 
    color: #FFCFDC;
}

#artistName { 
    color: #FF8FAD;
}