.container {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .songInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .coverImage {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .trackName {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .artistName {
    font-size: 1.2em;
    color: #bbb;
  }
  
  .noSong {
    font-size: 1.5em;
    color: #bbb;
  }
  