html {
    font-family: 'Akshar Unicode', sans-serif;
    font-weight: bold;
    /*color: #9055a2;*/
    color: #F5F5F5;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;

}

/*header {
    height: 5%;
    font-size: 30px;
    padding-left: 5%;
    word-break: break-all;
}*/

/*IGOR CHANGES: Created a new Hamburger icon (currently doesn't do anything,
as well as three flexboxes. The first stores the Title and Cat GIF, the second
contains the Extra Song Info and the Album Cover, then there are the buttons underneath,
and then finally there is a third flex box that will contain the Queue*/
#hamburger-icon {
    position: absolute;
    top: 25px;
    right: 25px;
}

#flexbox-top, #flexbox-middle, #flexbox-bottom, .admin {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: space-between;
    gap: 5px;
    align-items: center;
}

#flexbox-middle {
    /*Stretch to fit screen*/
    height: 100%;
    width: 100%;
}

.flex-container {
    height: 60%;
}
#flexbox-middle-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#flexbox-middle img, #flexbox-middle div {
    margin-bottom: 5px;
}

#queue-header {
    color: #a5c4d4;
}

button {
    background-color: #f7b2bd;
}

button:hover {
    background-color: #a5c4d4;
}

/*Igor changes end here. Hopefully didn't fuck anything up*/
    
body { 
   /*background-image: url('../../templates/pusayBG.png'); */
    background-color: #2F2F2F;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    overflow: hidden;
    width: 0;
    height: 0;
}

b {
    color: #F5F5F5;
}

p {
    color: #F5F5F5;
}

h1 {
    height: 5%;
    text-align: center;
    font-size: 60px;
    padding-left: 2%;
    color: #f7b2bd;
}

h2 {
    text-align: center;
    justify-content: center;
}

.admin{
    height: 5px;
}

#startButton {
    position: fixed; /* Position fixed to make it stay in place even when scrolling */
    top: 0;
    left: 0;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    z-index: 9999; /* High z-index to ensure it's above other content */
    color: white; /* Text color */
    font-size: 24px; /* Larger font size */
    border: none; /* Remove any border */
}

footer {
    height: auto; /* Adjust based on your content, or use 'auto' */
    /*padding: 9px 0; /* Top and Bottom Padding */
    font-size: 14px; /* Adjust font size as needed */
    text-align: center;
    background-color: #2F2F2F;
    color: #BBBBBB;
    width: 100%;
    box-sizing: border-box;
}
body, .flex-container {
    margin-bottom: 120px; /* Adjust this value based on the actual height of your footer */
}
input {
    display: block;
    width: 80%;
    height: 30px;
    padding: 10px;
    margin: 5px auto 22px auto; /* top and bottom margins are 5px and 22px, left and right margins are set to auto */
    border: none;
    border-radius: 25px;
    font-weight: bold;
}
#songName { 
    color: #FFCFDC;
}

#artistName { 
    color: #FF8FAD;
}

.results {
    color: #BBBBBB;
}

#dropdown {
    display: none;  /* hide the dropdown by default */
    position: relative;  /* position the dropdown below the search bar */
    width: 50%;  /* make the dropdown the same width as the search bar */
    margin-left: 25%;  /* center the dropdown */
}

#dropdown.show {
    display: block;  /* show the dropdown when the .show class is added */
}

#dropdown .item {
    display: flex;  /* use flexbox to layout the item */
    flex-direction: auto;  /* stack the .item elements vertically */
    align-items: center;  /* center the text and image vertically */
    padding: 10px;  /* add some padding */
    cursor: pointer;  /* change the cursor when hovering over the item */
    background-color: #D9D9D9;  /* add a grey background color */
    width: 100%;
}

#dropdown .item:hover {
    background-color: #898989;  /* change the background color when hovering over the item */
}
#dropdown .item img {
    width: 50px;  /* set the width of the album cover */
    margin-right: 10px;  /* add some space between the album cover and the text */
}
.selected {
    width: 50%;
    margin-left: 25%;
}
#info-text {
    color: #BBBBBB;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}
#selected-item {
    align-items: center;
    padding: 10px;
    background-color: #D9D9D9;
    width: 100%;
    display : none;
}
#selected-img {
    width: 50px;
    margin-right: 10px;
}
#selected-imgtext {
    display: flex;

}
#selected-text{
    display: flex;
    flex-direction: column;
}

#selected-track-length {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    color: #696969;
}
#add-button {
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    margin-top: 5%;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 25px;
    color: #1e1e1e;
    font-weight: bold;
    cursor: pointer;
    display: none;
}
.queue {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-bottom: 2%;
    color: #BBBBBB;
}
#queuelist {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-left: 5%;
    margin-right: auto;
    padding-bottom: 2%;
    color: #BBBBBB;
}
#queuelist img {
    width: 50px;
    margin-right: 10px;
}
.sidebarbtn {
    background-color: #2F2F2F;
    border: none;
    color: #BBBBBB;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: float;
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 2%;
}
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #636363;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    overflow: auto;
}

.sidebar input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #2F2F2F;
    color: white;
    border: none;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}

#song {
    display: flex;
    flex-direction: column;
}

.queue-header {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 5%;
    color: #BBBBBB;
    text-decoration: underline;
}
#catjam {
    animation: catjam 1s steps(23) infinite;
    width: 65%;
    height: 65%;
    object-fit: cover; /* Will crop the image to fit the content box */
    margin-left: 40%;
}

#flexbox-middle-right {
    width: 50%;
    height: 50%;
    display: flex;
}
.timeText {
    color: #BBBBBB;
    font-size: 12px;
    margin-left: auto;
    margin-right: 5%;
}

#progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#progressBar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

.timeText {
    flex-shrink: 0;
}

progress[value] {
    -webkit-appearance: none; /* Chrome, Safari, Opera */
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee; /* Background of the bar */
}

progress[value]::-webkit-progress-value {
    background-color: #9055A2; /* Progress indicator color */
}

progress[value]::-moz-progress-bar {
    background-color: #9055A2; /* Progress indicator color for Firefox */
}


#song-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
    margin-left: 5%;
    margin-right: auto;
    padding-bottom: 2%;
    color: #BBBBBB;
}
#song-list img {
    width: 50px;
    margin-right: 10px;
}

#playQueue {
    opacity: 0;
}


@media (max-width: 1024px) {
    html, body {
        overflow: auto;
    }
}
