@use '../_mixins.scss' as *;

.user-queue-container {
  .list-group-item {
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .drag-handle {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }
}
