<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="admin-container">
        <h1>Admin Panel</h1>
        <button id="clearQueue" class="clear-queue-button" onclick="clearQueue()">Clear Queue</button>
        <button id="pausePlayBtn" class="pause-play-button">Pause</button>
        <button id="skipSongBtn" class="skip-song-button">Skip Song</button>                        
    </div>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
