<!DOCTYPE html>
<html>
<head>
    <title>CatJam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <meta name="token" content="{{ token }}">
</head>
<body>
    <div class="container">
        <header style="display: flex; justify-content: space-between; align-items: center;">
            <h1>CatJam</h1>
            <div class="profile">
                <img id="profile-pic" src="{{ auth_dict['picture'] }}" alt="Profile Picture">
                <div class="profile-dropdown">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </header>
        <section>
            <div class="search-source">
                <select id="search-source">
                    <option value="spotify">Spotify</option>
                    <option value="youtube">YouTube</option>
                </select>
            </div>
            <div class="search">
                <input type="text" id="searchbar" name="song" placeholder="Search for a song here (Press enter to search)">
                <input type="text" id="youtube-link" name="youtube-link" placeholder="Enter YouTube link here" style="display:none;">
            </div>
            <div id="dropdown" aria-labelledby="searchbar"></div>
            <div class="selected" aria-labelledby="searchbar">
                <div id="info-text"></div>
                <div id="selected-song">
                    <div id="selected-item">
                        <div id="selected-imgtext">
                            <img id="selected-img">
                            <div id="selected-text">
                                <div id="selected-track-name"></div>
                                <div id="selected-artist-name"></div>
                            </div>
                        </div>
                        <div id="selected-track-length"></div>
                    </div>
                </div>
                <button id="add-button" onclick="submitSong()">Add to Queue</button>
            </div>
            <div id="resulttext"></div>
        </section>
        
        <section class="user-queue">
            <h2>Your Queue</h2>
            <button onclick="clearQueue()">Clear My Queue</button>
            <div id="user-queue-list"></div>
        </section>
        <section class="current-song">
            <h2>Currently Playing</h2>
            <div id="current-song-info">
                <img id="current-album-cover" src="">
                <div id="current-artist-name"></div>
                <div id="current-song-title"></div>
            </div>
        </section>
        <section class="vote-skip">
            <button onclick="voteToSkip()">Vote to Skip</button>
        </section>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const token = document.querySelector('meta[name="token"]').content;
            if (token) {
                localStorage.setItem('authToken', token);
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port, {
                    query: { token: token }
                });

                socket.emit('get_user_queue');

                socket.on('updateUserQueue', function(data) {
                    updateUserQueueDisplay(data.queue);
                });
            } else {
                console.error('Token not found in session.');
                alert('Authentication token is missing. Please login again.');
                window.location.href = '/';
            }
        });
    </script>
</body>
</html>
